html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body {
  background-image: url('http://www.snazzyspace.com/wallpapers/ff5587_aztec.png')
}
body,
textarea,
input {
  font: 13px "Trebuchet MS";
}
/** Here goes the chat part **/
.chat {
  top: 50px;
  left: 500px;
  position: absolute;
  max-width:300px;
  z-index: 1;
}

.chat-messages,
.chat-textarea {
  border: 1px solid #bbb;
}

.chat-messages {
  background-color: #FFFFFF;
  opacity: 0.9;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-textarea {
  width: 100%;
  padding: 10px;
  margin: 0;
  border-top: 0;
  max-width: 100%;
  outline: none;
}
/** Now the "Login" part **/
#nope {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.6;
  background: #FFFFFF;
}

.question,
.question2 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin:0px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 36%;
  height: 160px;
  width: 310px;
  background-color: #000000;
  z-index: 5;
}
.question {
  top: 36%;
}
.question2 {
  top: -50%;
}

#answer,
#answer2 {
  position: absolute;
  top: 85px;
  left: 27%;
  outline: none;
}

#go,
#go2 {
  top: 120px;
  left: 43%;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  position: absolute;
  border-radius: 4px;
  text-shadow: 1px 1px 10px #292629;
  font-family: Georgia;
  color: #ffffff;
  font-size: 19px;
  background: #0099CC;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  outline: none;
}

#go:hover {
  background: #333333;
  text-decoration: none;
}
#go2:hover {
  background: #333333;
  text-decoration: none;
}
/** Styling AboutMe Stuff **/
#image {
  position:absolute;
  top: 30%;
  left: 50;
}
.page {
  position:absolute;
  top: 0%;
  right: 0%;
  background-color: #222222;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity:0.95;
}
#next,
#previous {
  background-color:transparent;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  border:1px solid #fac761;
  display:inline-block;
  cursor:pointer;
  color:#050505;
  font-family:Trebuchet MS;
  font-size:16px;
  padding:15px 36px;
  text-decoration:none;
  text-shadow:0px 0px 21px #2f6627;
  position: absolute;
  top: 24%;
  color: #ffffff;
}
#next {
  left: 79%;
}
#previous {
  left: 13%;
}
#next:hover,
#previous:hover {
  background: #333333;
  text-decoration: none;
}
#previous:active,
#next:active {
  top:25%;
}

.menu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  background-color: #000000;
  z-index: 3;
}
#AboutMe {
  position: absolute;
  width: 600px;
  height: 70%;
  top: 4%;
  left:20%;
  z-index: 3;
  border-radius: 14px;
  border: 2px solid #fff;
  background-color: #FFFFFF;
}
nav {
  display: inline-block;
}
nav a{
  display:inline block;
  padding: 10px 34px;
  color: #fefefe;
  font-size: 22px;
  text-decoration: none;
  padding: 20px;
  margin: 20px;
  background: #FF8533 ;
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #FF8533 , 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #aa3030;
  font-weight: normal;
}
#textOnPage {
  font-family: 'Pacifico', Arial, sans-serif;
  padding-top: 14px;
  padding-left: 8px;
  color: #333333;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #FFFFFF;
}
.shake {
  -webkit-animation-name: error;
  -webkit-animation-duration: 0.1s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}
.pressed {
  -webkit-animation-name: jump;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes error {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
}
@-webkit-keyframes jump {
  0% { -webkit-transform: translate(0px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(0px, 3px) rotate(0deg); }
}
/** The most Epic Button in the world's history**/
@font-face {
font-family: 'Pacifico';
font-style: normal;
font-weight: normal;
src: local('Pacifico'), url('http://themes.googleusercontent.com/font?kit=fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA') format('truetype');
}

#button {
  margin-left: 21%;
  display: inline-block;
  margin-top: 20%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow:    0 8px 0 #333333, 0 15px 20px rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 8px 0 #333333, 0 15px 20px rgba(0, 0, 0, .35);
  box-shadow: 0 8px 0 #333333, 0 15px 20px rgba(0, 0, 0, .35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 50px;
  color: #fff;
  outline: none;
}

#button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #444444;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
  -moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .15);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
  outline: none;
}

#button:hover span {
  background-color: #5C0000;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

#button:active,
#button:focus {
  -webkit-box-shadow:    0 8px 0 #999999, 0 12px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 8px 0 #999999, 0 12px 10px rgba(0, 0, 0, .3);
  box-shadow:    0 8px 0 #999999, 0 12px 10px rgba(0, 0, 0, .3);
}
#button:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
